@{
    //ViewData["Title"] = "Home Page";
}

@if (TempData["ErrorMessage"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]?.ToString();
    </div>
}

<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <form method="post" asp-action="RandomGame" class="border border-1 shadow-lg p-2" id="frmSteam">
            <div class="">
                <label for="txtSteamId" class="form-label">17 digit Steam ID</label>
                <input type="text" class="form-control" name="SteamId" placeholder="Enter Steam ID" value="" id="txtSteamId">
            </div>
            <div class="my-3 text-center fw-bold">
                OR
            </div>
            <div class="mb-2">
                <label for="txtCustom" class="form-label">Custom Url</label>
                <input type="text" class="form-control" name="CustomUrl" placeholder="Enter Custom Url" value="" id="txtCustom">
            </div>
            <div>
                <button type="submit" class="btn btn-success">Go!</button>
            </div>
        </form>

        <div class="mt-5 border border-1 p-2 shadow-lg text-center">
            <div class="fw-bold mb-3">Instructions:</div>
            Enter your 17 digit Steam ID from: steamcommunity.com/profiles/[SteamId]) <br />
            <span class="fw-bold">OR</span> <br />
            Enter you Custom Steam URL from: steamcommunity.com/id/[CustomUrl])
            <hr />
            <div class="my-3">
                If you would like instructions for <strong>finding your Steam Id</strong> check the link below: <br />
                <a href="https://help.steampowered.com/en/faqs/view/2816-BE67-5B69-0FEC" target="_blank">https://help.steampowered.com/en/faqs/view/2816-BE67-5B69-0FEC</a>
            </div>
            <hr />
            <div class="my-3">
                For this application to work your Steam <strong>Profile must be public</strong>: <br />
                <a href="https://help.steampowered.com/en/faqs/view/588C-C67D-0251-C276" target="_blank">https://help.steampowered.com/en/faqs/view/588C-C67D-0251-C276</a>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const steamId = localStorage.getItem("steamId");
            const customUrl = localStorage.getItem("customUrl");
            const frmSteam = document.getElementById("frmSteam");
            const txtsteamId = document.getElementById("txtSteamId");
            const txtcustomUrl = document.getElementById("txtCustom");

            if (customUrl) {
                txtcustomUrl.value = customUrl;
            }

            if (steamId) {
                txtsteamId.value = steamId;
            }

            frmSteam.addEventListener("submit", (e) => {
                e.preventDefault();

                if (txtsteamId?.value) {
                    localStorage.setItem("steamId", txtsteamId.value);
                }
                if (txtcustomUrl?.value) {
                    localStorage.setItem("customUrl", txtcustomUrl.value);
                }
                
                frmSteam.submit();
            });
        });
    </script>
}