<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid rsg-nav-container">
        <a class="navbar-brand" href="">Random Steam</a>

        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse @(collapseNavMenu ? "" : "show")">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://kgivler.com" target="_blank" rel="noopener noreferrer">
                        <span class="bi bi-info-circle-fill" aria-hidden="true"></span> About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/JoyfulReaper/RandomSteamGame" target="_blank" rel="noopener noreferrer">
                        <span class="bi bi-terminal-fill" aria-hidden="true"></span> GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
