@page "/register"
@inject HttpClient _httpClient
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage

<Alert ErrorMessage="Registration not currently open, please check back soon!" 
    ErrorClass="alert-danger"/>

<h3>Register</h3>

<Alert SuccessMessage="@_successMessage" />

@*For Testing*@
<AuthorizeView>
    <Authorized>
        <span>You're Loged in as @context.User.Identity.Name</span>
    </Authorized>
    <NotAuthorized>
        <span>You're not logged in.</span>
    </NotAuthorized>
</AuthorizeView>

<EditForm Model="_registerModel" OnSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-1">
        <label for="firstName">First Name</label>
        <InputText class="form-control" id="firstName" @bind-Value="_registerModel.FirstName" />
    </div>
    <div class="mb-1">
        <label for="lastName">Last Name</label>
        <InputText class="form-control" id="lastName" @bind-Value="_registerModel.LastName" />
    </div>
    <div class="mb-1">
        <label for="email">Email</label>
        <InputText class="form-control" id="email" @bind-Value="_registerModel.Email" />
    </div>
    <div class="mb-1">
        <label for="password">Password</label>
        <InputText class="form-control" id="password" @bind-Value="_registerModel.Password" />
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</EditForm>

@code {
    private RegisterModel _registerModel { get; set; } = new RegisterModel();
    private string? _successMessage;

    async Task HandleRegister()
    {
        return; // Don't want anyone registering right now since this is very much under development

        RegisterRequest registerRequest = new RegisterRequest(_registerModel.FirstName, _registerModel.LastName, _registerModel.Email, _registerModel.Password);
        using var result = await _httpClient.PostAsJsonAsync("api/auth/register", registerRequest);
        var response = await result.Content.ReadFromJsonAsync<AuthenticationResponse>();

        await LocalStorage.SetItemAsync("token", response.Token);
        await LocalStorage.SetItemAsync("refreshToken", response.RefreshToken);
        await AuthStateProvider.GetAuthenticationStateAsync();

        _successMessage = "Successfully Registered!";
    }

    private class RegisterModel
    {
        public string FirstName { get; set; } = default!;
        public string LastName { get; set; } = default!;
        public string Email { get; set; } = default!;
        public string Password { get; set; } = default!;
    }
}