@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" asp-page="RandomGame">
    <div class="mb-2">
        <label for="steamId" class="form-label">Steam ID</label>
        <input type="text" class="form-control" name="SteamId" placeholder="Enter Steam ID" value="76561197988408972">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>