@page
@model RandomSteamGame.Pages.RandomGameModel
@{
    ViewData["Title"] = "Random Steam Game";
}

@if (Model.ErrorMessage is not null)
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}
else
{
    <div class="row">
        @await Html.PartialAsync("_RandomGame",
                                    new RandomGameViewModel
                                    {
                                        AppDetails = Model.AppDetails.Data,
                                        SteamId = Model.SteamId.Value,
                                        CustomUrl = Model.CustomUrl
                                    })
    </div>
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            
            const body = document.getElementById("body");
            body.style.color = "white";
            body.style.backgroundColor = "black";
            
            if ('@Model.AppDetails.Data?.Background' != '') {
                body.style.backgroundImage = "url('@Model.AppDetails.Data.Background')";
                body.style.backgroundRepeat = "no-repeat";
                body.style.backgroundSize = "cover";
                body.style.backgroundAttachment = "fixed";
            }
        });
    </script>
}